footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 }

  .media-icons a {
    position: relative;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
 }

 .media-icons a:not(:last-child){
    margin-right: 60px;
 }

 .media-icons a:hover{
    transform: scale(1.5);
 }

