.flex {
    /* max-width: fit-content; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
   
  }
 
 
   #content{
      /* max-width:45vh;  */
    width: 210px;
    height: 216px;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0;
    
  }  
 
  #content:hover{
  transform: scale(1.1);
  }
  
 